permissions:
  contents: write

name: Update Mandi Data

permissions:
  contents: write

on:
  schedule:
    - cron: "30 2 * * *"   # 8:00 AM IST
    - cron: "30 10 * * *"  # 4:00 PM IST
    - cron: "30 14 * * *"  # 8:00 PM IST
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests

      - name: Fetch latest mandi data
        run: python scripts/fetch_data.py

      - name: Commit and push if data changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/market_data_master.csv
          git commit -m "Auto update mandi data" || echo "No changes"
          git push
